<section ng-controller="CourseLessonsController as Model">
    <!-- breadcrumbs -->
    <div class="w3l_agileits_breadcrumbs">
        <div class="w3l_agileits_breadcrumbs_inner">
            <ul>
                <li>
                    <li>
                        <a href="#!/dashboardcourses">Courses</a>
                    </li>
                    <span>«</span>
                </li>
                <li>
                    <li>
                        <a>{{Model.Crs_Name}}</a>
                    </li>
                    <span>«</span>
                </li>
                <li>
                    Lessons
                </li>
            </ul>
        </div>
    </div>
    <!-- //breadcrumbs -->

    <div class="inner_content_w3_agile_info two_in">
        <h2 class="w3_inner_tittle">{{Model.Crs_Name}}</h2>

        <!--/forms-->
        <div class="forms-main_agileits">
            <!--/forms-inner-->
            <div class="forms-inner">
                <!--/set-3-->

                <div class="wthree_general">


                    <div class="grid-1 graph-form agile_info_shadow text-center">

                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-md-12">
                                <table id="table">
                                    <thead>
                                        <tr>
                                                <th><input type="checkbox" /></th>
                                             
                                         
                                            <th>Name</th>
                                            <th>Instructor</th>
                                            <th>SessionTime</th>
                                            <th>Duration</th>

                                         
                                            <th>Publisher</th>
                                            <th>Status</th>
                                            <th>Management</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr ng-repeat="Lesson in Model.CourseLessons.slice(((Model.currentPage-1)*Model.itemsPerPage), ((Model.currentPage)*Model.itemsPerPage))" ng-style="{'background-color':Select === true ? '#ff4f57' : '','color':Select === true ? '#fff' : ''}">
                                            <td><input type="checkbox" value="{{Lesson.Lesson_Id}}" ng-model="Select" /></td>  

                                        
                                            <td>{{Lesson.Lesson_Name}}</td>
                                            <td>{{Lesson.Lesson_Instructor}}</td>
                                            <td>{{Lesson.Lesson_SessionTime|date:'medium'}}</td>
                                            <td>{{Lesson.Lesson_Duration}}
                                                <span class="text-info"> M</span>
                                            </td>
                                          
                                            <td>{{Lesson.Lesson_Publisher}}</td>
                                            
                                            <td>
                                                <button ng-class="Lesson.Lesson_Active==false?'btn btn-warning':'btn btn-success'" ng-click="Model.Activate(Lesson.Lesson_Id)">
                                                    <i class="fa fa-check"></i>
                                                </button>
                                            </td>
                                            <td class="text-center">
                                                    <a href="#!/dashboardnewcourselessons/{{Lesson.Crs_Id}}"><button type="button" class="btn btn-info"><i class="fa fa-plus-circle"></i></button></a>
                                                <a href="#!/dashboardeditcourselesson/{{Lesson.Lesson_Id}}">
                                                    <button type="button" class="btn btn-success">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </a>
                                                <button type="button" class="btn btn-danger" ng-click="Model.Confirm(Lesson.Lesson_Id)">
                                                    <i class="fa fa-trash"></i>
                                                </button>

                                            </td>

                                        </tr>

                                        <tr ng-show="(Model.CourseLessons).length == 0" role="alert" style="color: maroon;">
                                            <td colspan="9" class="text-center">


                                                <span class="glyphicon glyphicon-remove"></span>


                                                <div ng-class="{'alert alert-warning text-center':(Model.CourseLessons).length == 0}">Sorry no results found !

                                                </div>

                                            </td>


                                        </tr>
                                    </tbody>

                                </table>

                                <ul uib-pagination total-items="Model.totalItems" ng-model="Model.currentPage" ng-change="Model.pageChanged()" class="pagination-sm"
                                    items-per-page="Model.itemsPerPage"></ul>


                            </div>

                        </div>
                        

                </div>
                <!--//set-3-->
            </div>
            <!--//forms-inner-->
        </div>
        <!--//forms-->

</section>