<!-- breadcrumbs -->
<div class="w3l_agileits_breadcrumbs">
    <div class="w3l_agileits_breadcrumbs_inner">
        <ul>
            <li><a href="#!/dashboardindex">Home</a><span>«</span></li>
            
            <li><a href="#!/dashboardJobs"></a>Jobs</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->
<div class="inner_content_w3_agile_info two_in" ng-controller="JobsController as Model" >
    <h2 class="w3_inner_tittle">Jobs</h2>
                  <!-- tables -->
                  
                  <div class="agile-tables">
                      <div class="w3l-table-info agile_info_shadow text-center">
                     
                       <div class="row">

                        <div class="col-md-4">
    
                          <span class="input-group-addon">
                            <i class="fa fa-search-plus"></i>
                          </span>
                          <input ng-model="Model.New_Title" class="form-control1 icon select" placeholder="Search by New Title" type="text">
                        
                         </div>
                       <div class="col-md-4  ">
    
                        <span class="input-group-addon">
                          <i class="fa fa-search-plus"></i>
                        </span>
                        
                        <select class="form-control  select" name="drpNewDuration" ng-model="Model.New_Duration">
                          <option value="">New Status</option>
                          
                          <option value="true">Active</option>
                          <option value="false">Idle</option>
                      

                      </select>
                       </div>
                     
                       <div class="col-md-4 ">
    
                        <div class="input-group-addon"><i class="fa fa-search-plus"></i></div>
                        <select class="form-control select" name="drpNewCategory" ng-model="Model.NewCats_Name">
                          <option value="">Job Categories</option>
                          <option ng-repeat="Category in Model.JobsCategories" value="{{Category.Cat_Name}}">{{Category.Cat_Name}}</option>
                  
                      </select>
                      
                       </div>
                      
    
    
                       </div>
                      
                       <table id="table">
                        <thead>
                          <tr>
                              <th>
                                  <a href="#!/dashboardnewjob"><button type="button" class="btn btn-info"><i class="fa fa-plus-circle"></i></button></a>
                                </th>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Country</th>
                            <th>City</th>
                            <th>Photo</th>
                            <th>Publisher</th>
                            <th>Activate</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                      <tbody>

                        <tr ng-repeat="Job in Model.Jobs.slice(((Model.currentPage-1)*Model.itemsPerPage), ((Model.currentPage)*Model.itemsPerPage))|filter:Model.Job_Level|filter:Model.JobCats_Name|filter:Model.Job_Title|filter:Model.Job_Duration|orderBy:'-Job_DateTime'|limitTo:10"
                        ng-style="{'background-color':Select === true ? '#ff4f57' : '','color':Select === true ? '#fff' : ''}">
                            <td>
                                <input type="checkbox" value="{{Job.Jobs_Id}}" ng-model="Select" />
                              </td>
                          <td>{{Job.Job_Title|limitTo:20}}</td>
                          <td>{{Job.Cat_Id}}</td>
                          <td>{{Job.Job_Country}}</td>
                          <td>{{Job.Job_City}}</td>
                          <td><img src="{{Job.Job_Photo}}" class="img-thumbnail" width="50"/></td>
                          <td>{{Job.Job_Publisher}}</td>
                          <td><button ng-class="Job.Job_Active==false?'btn btn-warning':'btn btn-success'" ng-click="Model.Activate(Job.Job_Id)">  <i class="fa fa-check"></i></button></td>
                          <td class="text-center">
                           
                            <a href="#!/dashboardeditjob/{{Job.Job_Id}}"><button type="button" class="btn btn-success"><i class="fa fa-edit"></i></button></a>
                            <button type="button" class="btn btn-danger" ng-click="Model.Confirm(Job.Job_Id)" ><i class="fa fa-trash" ></i></button>

                          </td>
                        </tr>

                        <tr ng-show="(Model.Jobs|filter:Model.New_Level|filter:Model.NewCats_Name|filter:Model.New_Title|filter:Model.New_Duration).length == 0" role="alert" style="color: maroon;">
                          <td colspan="9" class="text-center">
                         
                             
                                  <span class="glyphicon glyphicon-remove"></span>
  
                              
                              <div ng-class="{'alert alert-warning text-center':(Model.Jobs|filter:Model.New_Level|filter:Model.NewCats_Name|filter:Model.New_Title|filter:Model.New_Duration).length == 0}">Sorry no results found ! <a ng-href="#!/dashboardnewjob" class="btn btn-primary">New Jobs</a></div>
  
                          </td>
                              
  
                            </tr>
                      </tbody>

                      </table>
                
                      <ul uib-pagination  total-items="Model.totalItems" ng-model="Model.currentPage" ng-change="Model.pageChanged()" class="pagination-sm" items-per-page="Model.itemsPerPage"></ul>
              
                      </div>
         
     
          <!-- //tables -->
  </div>


  <script type="text/javascript">
    $(document).ready(function() {
      $('#table').basictable();

      $('#table-breakpoint').basictable({
        breakpoint: 768
      });

      $('#table-swap-axis').basictable({
        swapAxis: true
      });

      $('#table-force-off').basictable({
        forceResponsive: false
      });

      $('#table-no-resize').basictable({
        noResize: true
      });

      $('#table-two-axis').basictable();

      $('#table-max-height').basictable({
        tableWrapper: true
      });
    });
</script>