<!-- breadcrumbs -->
<div class="w3l_agileits_breadcrumbs">
    <div class="w3l_agileits_breadcrumbs_inner">
        <ul>
            <li>
                <a href="#!/dashboardjobs">Jobs</a>
                <span>«</span>
            </li>
            <li>
               Edit Jobs
            </li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->

<div class="inner_content_w3_agile_info two_in">
    <h2 class="w3_inner_tittle">Edit Jobs</h2>

    <!--/forms-->
    <div class="forms-main_agileits" ng-controller="EditJobsController as Model">
        <!--/forms-inner-->
        <div class="forms-inner">
            <!--/set-3-->

            <div class="wthree_general">


                <div class="grid-1 graph-form agile_info_shadow">

                    <form class="form-horizontal" novalidate="novalidate" autocomplete="true" name="NewJobsForm">
                        <div class="form-group">

                            <div class="col-md-6 col-md-offset-0">
                                <div class="input-group" ng-class="{'has-error':NewJobsForm.txtCrsName.$dirty&&NewJobsForm.txtCrsName.$invalid}">
                                    <span class="input-group-addon">
                                        <i class="fa fa-edit"></i>
                                    </span>
                                    <input type="text" name="txtCrsName" ng-model="Model.Job_Title" ng-maxlength="120" required="required" ng-class="{'has-error':NewJobsForm.txtCrsName.$dirty&&NewJobsForm.txtCrsName.$invalid}"
                                        class="form-control1 icon" placeholder="Job Title">
                                </div>
                                <div class="help-block" ng-messages="NewJobsForm.txtCrsName.$error" ng-if="NewJobsForm.txtCrsName.$dirty" style="color:maroon"
                                    role="alert">

                                    <ng-message when="required" translate>JobTitle is required *</ng-message>

                                    <div ng-message="maxlength">Job Title max size 120 charchters *</div>
                                </div>
                            </div>

                            <div class="col-md-6 col-md-offset-0">

                                <div class="input-group" ng-class="{'has-error':NewJobsForm.drpJobsCategory.$dirty&&NewJobsForm.drpJobsCategory.$invalid}">
                                    <span class="input-group-addon">
                                        <i class="fa fa-align-justify"></i>
                                    </span>
                                    <select class="form-control" name="drpJobsCategory" ng-model="Model.Cat_Id" required="required">
                                        <option value="">Job Categories</option>
                                        <option ng-repeat="Category in Model.JobsCategories" value="{{Category.Cat_Id}}">{{Category.Cat_Name}}</option>

                                    </select>
                                </div>
                                <div class="help-block" ng-messages="NewJobsForm.drpJobsCategory.$error" ng-if="NewJobsForm.drpJobsCategory.$dirty" style="color:maroon"
                                    role="alert">

                                    <ng-message when="required" translate>Job Category is required *</ng-message>

                                </div>

                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-6 col-md-offset-0">
                                <div class="input-group" ng-class="{'has-error':NewJobsForm.txtCrsName.$dirty&&NewJobsForm.txtCrsName.$invalid}">
                                    <span class="input-group-addon">
                                        <i class="fa fa-edit"></i>
                                    </span>
                                    <input type="text" name="txtCrsName" ng-model="Model.Job_Country" ng-maxlength="120" required="required" ng-class="{'has-error':NewJobsForm.txtCrsName.$dirty&&NewJobsForm.txtCrsName.$invalid}"
                                        class="form-control1 icon" placeholder="Job Country">
                                </div>
                                <div class="help-block" ng-messages="NewJobsForm.txtCrsName.$error" ng-if="NewJobsForm.txtCrsName.$dirty" style="color:maroon"
                                    role="alert">

                                    <ng-message when="required" translate>Job Country is required *</ng-message>

                                    <div ng-message="maxlength">Job Country max size 120 charchters *</div>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-offset-0">
                                <div class="input-group" ng-class="{'has-error':NewJobsForm.txtCrsName.$dirty&&NewJobsForm.txtCrsName.$invalid}">
                                    <span class="input-group-addon">
                                        <i class="fa fa-edit"></i>
                                    </span>
                                    <input type="text" name="txtCrsName" ng-model="Model.Job_City" ng-maxlength="120" required="required" ng-class="{'has-error':NewJobsForm.txtCrsName.$dirty&&NewJobsForm.txtCrsName.$invalid}"
                                        class="form-control1 icon" placeholder="Job City">
                                </div>
                                <div class="help-block" ng-messages="NewJobsForm.txtCrsName.$error" ng-if="NewJobsForm.txtCrsName.$dirty" style="color:maroon"
                                    role="alert">

                                    <ng-message when="required" translate>Job City is required *</ng-message>

                                    <div ng-message="maxlength">Job City max size 120 charchters *</div>
                                </div>
                            </div>


                        </div>

                        <div class="form-group">
                            <div class="col-md-12 col-md-offset-0" ng-class="{'has-error':NewJobsForm.Jobs_Description.$dirty&&NewJobsForm.Jobs_Description.$invalid}">

                                <textarea name="Job_Description" ng-model="Model.Job_Description" ck-editor>JobDescription</textarea>
                                <!-- <script>
                                                    CKEDITOR.replace('Jobs_Content');
                                                </script> -->
                                <div class="help-block" ng-messages="NewJobsForm.Job_Content.$error" ng-if="NewJobsForm.Job_Content.$dirty" style="color:maroon"
                                    role="alert">

                                    <ng-message when="required" translate>Job Content is required *</ng-message>

                                </div>

                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-md-offset-0" ng-class="{'has-error':NewJobsForm.txtJobsPhoto.$dirty&&NewJobsForm.txtJobsPhoto.$invalid}">
                                <link rel="stylesheet" href="../shared/css/fileinput.css">
                                <!-- FONT AWESOME HIDDEN THUMBNAIL CONTENT THEME -->
                                <!-- load the JS files in the right order -->
                                <script src="shared/js/fileinput.js"></script>
                                <script src="/shared/js/theme.js"></script>


                                <div class="file-loading">
                                    <input id="txtJobsPhoto" type="file" ng-model="Model.Crs_Photo" name="Model.Crs_Photo">
                                </div>

                                <script>
                                    $("#txtJobsPhoto").fileinput({
                                        initialPreview: "/app/shared/images/access-application-business-360438.jpg",
                                        uploadUrl: "http://localhost:50816" + "/api/Jobs/UploadJobsIamge",
                                        initialPreviewAsData: true,
                                        initialPreviewConfig: [{
                                                caption: "SPARK SCHOOL",
                                                width: "120px"
                                            },

                                        ],
                                        overwriteInitial: true,
                                        maxFileSize: 1200,
                                        initialCaption: "Insert your Job Image",
                                        showRemove: false,
                                        showUpload: false

                                    });
                                </script>

                                <div class="help-block" ng-messages="NewJobsForm.txtJobsPhoto.$error" ng-if="NewJobsForm.txtJobsPhoto.$dirty" style="color:maroon"
                                    role="alert">

                                    <ng-message when="required" translate>Job Description is required *</ng-message>

                                </div>

                            </div>
                        </div>
                        <div class="button">
                            <p class="btnText">READY?</p>
                            <div class="btnTwo">
                                <button type="button" class="btnText2" ng-disabled="NewJobsForm.$invalid" ng-click="Model.Submit()">Save</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
            <!--//set-3-->
        </div>
        <!--//forms-inner-->
    </div>
    <!--//forms-->