
<div class="containersignup" ng-controller="LogInController as LogIn">
  <form novalidate="novalidate" name="LogInForm" autocomplete="true">
      <div class="row">
        <h4 class="text-center"><img src="shared/images/appletsoftware.png" class="logo"></h4>
      
        <div class="input-group input-group-icon" ng-class="{'has-error':LogInForm.txtemail.$dirty&&LogInForm.txtemail.$invalid}">
          <input type="email" name="txtemail" placeholder="Email Adress" ng-model="LogIn.Email" required="required" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"/>
          <div class="input-icon"><i class="fa fa-envelope"></i></div>


          <div class="help-block" ng-messages="LogInForm.txtemail.$error" ng-if="LogInForm.txtemail.$dirty" style="color:maroon" role="alert">
            
            <ng-message when="required" translate="yes">Email is Required *</ng-message>
            <ng-message when="pattern" translate="yes">example:person@yahoo.com *</ng-message>
          </div>
        </div>
        <div class="input-group input-group-icon" ng-class="{'has-error':LogInForm.txtpassword.$dirty&&LogInForm.txtpassword.$invalid}">
          <input type="password" placeholder="Password" name="txtpassword" ng-model="LogIn.Password" ng-minlength="8" ng-maxlength="15" ng-pattern="/(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/" required="required"/>
       
          <div class="help-block" ng-messages="LogInForm.txtpassword.$error" ng-if="LogInForm.txtpassword.$dirty" role="alert" style="color: maroon;">

            <ng-message when="required" translate="yes">Password is Required *</ng-message>
            <ng-message when="minlength" translate="yes">Password at least 8 characters *</ng-message>
            <ng-message when="maxlength" translate="yes">Password max size 15 characters *</ng-message>
            <ng-message when="pattern" translate="yes">Password is weak *</ng-message>

          </div>
            
          <div class="input-icon"><i class="fa fa-key"></i></div>

        </div>
   
        
     
    
      <div class="row">
      </div>
      <div class="row text-center">
        
        <div class="input-group">
         <button type="button" class="btn btn-register"  ng-disabled="LogInForm.$invalid" ng-click="LogIn.Authenticate()" >Log in</button>
        </div>
      </div>

      </div>


    </form>
  </div>