<!-- breadcrumbs -->
<div class="w3l_agileits_breadcrumbs">
    <div class="w3l_agileits_breadcrumbs_inner">
        <ul>
            <li>
                <a href="#!/dashboardcourses">Courses</a>
                <span>«</span>
            </li>
            <li>
               Edit Course
            </li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->

<div class="inner_content_w3_agile_info two_in">
    <h2 class="w3_inner_tittle">Edit Course</h2>

    <!--/forms-->
    <div class="forms-main_agileits" ng-controller="EditCourseController as Model">
        <!--/forms-inner-->
        <div class="forms-inner">
            <!--/set-3-->

            <div class="wthree_general">


                <div class="grid-1 graph-form agile_info_shadow">

                    <form class="form-horizontal" novalidate="novalidate" autocomplete="true" name="EditCourseForm">
                        <div class="form-group">

                            <div class="col-md-5 col-md-5 col-md-offset-0">
                                <div class="input-group" ng-class="{'has-error':EditCourseForm.txtCrsName.$dirty&&EditCourseForm.txtCrsName.$invalid}">
                                    <span class="input-group-addon">
                                        <i class="fa fa-edit"></i>
                                    </span>
                                    <input type="text" name="txtCrsName" ng-model="Model.Course.Crs_Name" ng-maxlength="100" required="required" ng-class="{'has-error':EditCourseForm.txtCrsName.$dirty&&EditCourseForm.txtCrsName.$invalid}"
                                        class="form-control1 icon" placeholder="Course Name">
                                </div>
                                <div class="help-block" ng-messages="EditCourseForm.txtCrsName.$error" ng-if="EditCourseForm.txtCrsName.$dirty" style="color:maroon"
                                    role="alert">

                                    <ng-message when="required" translate>Course Name is required *</ng-message>

                                    <div ng-message="maxlength">Course Name max size 100 charchters *</div>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-5 col-md-offset-1">
                                <div class="input-group" ng-class="{'has-error':EditCourseForm.drpCrsLevel.$dirty&&EditCourseForm.drpCrsLevel.$invalid}">
                                    <span class="input-group-addon">
                                        <i class="fa fa-align-justify"></i>
                                    </span>
                                    <select class="form-control" name="drpCrsLevel" ng-model="Model.Course.Crs_Level" required="required">
                                        <option value="">Course Level</option>
                                        <option value="Begginer">Begginer</option>
                                        <option value="Intermediate">Intermediate</option>
                                        <option value="Advanced">Advanced</option>


                                    </select>
                                </div>

                                <div class="help-block" ng-messages="EditCourseForm.drpCrsLevel.$error" ng-if="EditCourseForm.drpCrsLevel.$dirty" style="color:maroon"
                                    role="alert">

                                    <ng-message when="required" translate>Course Level is required *</ng-message>

                                </div>

                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-5 col-md-5 col-md-offset-0">
                                <div class="input-group" ng-class="{'has-error':EditCourseForm.drpCrsDuration.$dirty&&EditCourseForm.drpCrsDuration.$invalid}">
                                    <span class="input-group-addon">
                                        <i class="fa fa-align-justify"></i>
                                    </span>
                                    <select class="form-control" name="drpCrsDuration" ng-model="Model.Course.Crs_Duration|number" required="required">
                                        <option value="">Course Duration</option>
                                        <option value="1">1 Week</option>
                                        <option value="2">2 Week</option>
                                        <option value="3">3 Week</option>
                                        <option value="4">4 Week</option>

                                    </select>
                                </div>
                                <div class="help-block" ng-messages="EditCourseForm.drpCrsDuration.$error" ng-if="EditCourseForm.drpCrsDuration.$dirty" style="color:maroon"
                                    role="alert">

                                    <ng-message when="required" translate>Course Duration is required *</ng-message>

                                </div>
                            </div>
                            <div class="col-md-5 col-md-5 col-md-offset-1">
                                <div class="input-group" ng-class="{'has-error':EditCourseForm.drpCrsDuration.$dirty&&EditCourseForm.drpCrsDuration.$invalid}">
                                    <span class="input-group-addon">
                                        <i class="fa fa-align-justify"></i>
                                    </span>
                                    <select class="form-control" name="drpCrsCategory" ng-model="Model.Course.CrsCats_Id" required="required">
                                        <option value="">Course Categories</option>
                                        <option ng-repeat="Category in Model.CoursesCategories" value="{{Category.CrsCats_Id}}">{{Category.CrsCats_Name}}</option>
                                
                                    </select>
                                </div>
                                <div class="help-block" ng-messages="EditCourseForm.drpCrsCategory.$error" ng-if="EditCourseForm.drpCrsCategory.$dirty" style="color:maroon"
                                    role="alert">

                                    <ng-message when="required" translate>Course Category is required *</ng-message>

                                </div>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-5 col-md-5 col-md-offset-0">
                                <div class="input-group" ng-class="{'has-error':EditCourseForm.txtNumLessons.$dirty&&EditCourseForm.txtNumLessons.$invalid}">
                                    <span class="input-group-addon">
                                        <i class="fa fa-file-video-o "></i>
                                    </span>
                                    <input type="number" name="txtNumLessons" ng-model="Model.Course.Crs_Numlessons" class="form-control1 icon" placeholder="Number of Lessons"
                                        required="required">
                                </div>

                                <div class="help-block" ng-messages="EditCourseForm.txtNumLessons.$error" ng-if="EditCourseForm.txtNumLessons.$dirty" style="color:maroon"
                                    role="alert">

                                    <ng-message when="required" translate>Course Lessons is required *</ng-message>

                                </div>
                            </div>
                            <div class="col-md-5 col-md-5 col-md-offset-1">
                                <div class="input-group" ng-class="{'has-error':EditCourseForm.txtCoursePrice.$dirty&&EditCourseForm.txtCoursePrice.$invalid}">
                                    <span class="input-group-addon">
                                        <i class="fa fa-money"></i>
                                    </span>
                                    <input type="number" name="txtCoursePrice" ng-model="Model.Course.Crs_Price" class="form-control1 icon" placeholder="Course Price"
                                        required="required">
                                </div>
                                <div class="help-block" ng-messages="EditCourseForm.txtCoursePrice.$error" ng-if="EditCourseForm.txtCoursePrice.$dirty" style="color:maroon"
                                    role="alert">

                                    <ng-message when="required" translate>Course Price is required *</ng-message>

                                </div>
                            </div>
                        </div>




                        <div class="form-group">
                            <div class="col-md-5 col-md-5 col-md-offset-0" ng-class="{'has-error':EditCourseForm.Crs_Description.$dirty&&EditCourseForm.Crs_Description.$invalid}">

                                <textarea name="Crs_Description" ng-model="Model.Course.Crs_Description" ck-editor></textarea>
                                <!-- <script>
                                    CKEDITOR.replace('Crs_Description');
                                </script> -->
                                <div class="help-block" ng-messages="EditCourseForm.Crs_Description.$error" ng-if="EditCourseForm.Crs_Description.$dirty" style="color:maroon"
                                    role="alert">

                                    <ng-message when="required" translate>Course Description is required *</ng-message>

                                </div>

                            </div>

                            <div class="col-md-5 col-md-5 col-md-offset-1" ng-class="{'has-error':EditCourseForm.txtCrsPhoto.$dirty&&EditCourseForm.txtCrsPhoto.$invalid}">
                                <link rel="stylesheet" href="../shared/css/fileinput.css">
                                <!-- FONT AWESOME HIDDEN THUMBNAIL CONTENT THEME -->
                                <!-- load the JS files in the right order -->
                                <script src="shared/js/fileinput.js"></script>
                                <script src="/shared/js/theme.js"></script>


                                <div class="file-loading">
                                    <input id="txtCrsPhoto" type="file" ng-model="Model.Course.Crs_Photo" >
                                </div>

                                <script>
                                    $("#txtCrsPhoto").fileinput({
                                        initialPreview: "/app/shared/images/access-application-business-360438.jpg",
                                        initialPreviewAsData: true,
                                        initialPreviewConfig: [{
                                                caption: "SPARK SCHOOL",
                                                width: "120px"
                                            },

                                        ],
                                        overwriteInitial: true,
                                        maxFileSize: 1000,
                                        initialCaption: "SPARK SCHOOL Course",
                                        showRemove: false,
                                        showUpload: false
                                    });
                                </script>

<div class="help-block" ng-messages="EditCourseForm.txtCrsPhoto.$error" ng-if="EditCourseForm.txtCrsPhoto.$dirty" style="color:maroon"
role="alert">

<ng-message when="required" translate>Course Description is required *</ng-message>

</div>

                            </div>
                        </div>

                        <div class="button">
                            <p class="btnText">READY?</p>
                            <div class="btnTwo">
                                <button type="button" class="btnText2" ng-disabled="EditCourseForm.$invalid" ng-click="Model.Submit()">Save</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
            <!--//set-3-->
        </div>
        <!--//forms-inner-->
    </div>
    <!--//forms-->