<section ng-controller="CourseLessonsController as Model">
    <!-- breadcrumbs -->
    <div class="w3l_agileits_breadcrumbs">
        <div class="w3l_agileits_breadcrumbs_inner">
            <ul>
                <li>
                    <li>
                        <a href="#!/dashboardcourses">Courses</a>
                    </li>
                    <span>«</span>
                </li>
                <li>
                    <li>
                        <a href="#!/dashboardcourselessons/{{Model.Crs_Id}}">{{Model.Crs_Name}}</a>
                    </li>
                    <span>«</span>
                </li>
                <li>
                    Lessons
                </li>
            </ul>
        </div>
    </div>
    <!-- //breadcrumbs -->

    <div class="inner_content_w3_agile_info two_in">
        <h2 class="w3_inner_tittle">{{Model.Crs_Name}}</h2>

        <!--/forms-->
        <div class="forms-main_agileits">
            <!--/forms-inner-->
            <div class="forms-inner">
                <!--/set-3-->

                <div class="wthree_general">


                    <div class="grid-1 graph-form agile_info_shadow text-center">

                       
                        <div class="row" style="margin-bottom: 20px;">

                            <div class="form-group">
                                <div class="col-md-12">
                                    <form class="form-horizontal" novalidate="novalidate" autocomplete="on" name="NewCourseLessonForm" >
                                        <div class="form-group">

                                            <div class="col-md-6 col-md-offset-0">
                                                <div class="input-group" ng-class="{'has-error':NewCourseLessonForm.txtLessonName.$dirty&&NewCourseLessonForm.txtLessonName.$invalid}">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-edit"></i>
                                                    </span>
                                                    <input type="text" name="txtLessonName" ng-model="Model.Lesson_Name" ng-maxlength="100" required="required" ng-class="{'has-error':NewCourseLessonForm.txtLessonName.$dirty&&NewCourseLessonForm.txtLessonName.$invalid}"
                                                        class="form-control1 icon" placeholder="Lesson Name">
                                                </div>
                                                <div class="help-block" ng-messages="NewCourseLessonForm.txtLessonName.$error" ng-if="NewCourseLessonForm.txtLessonName.$dirty"
                                                    style="color:maroon" role="alert">

                                                    <ng-message when="required" translate>Lesson Name is required *</ng-message>

                                                    <div ng-message="maxlength">Lesson Name max size 100 charchters *</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-md-offset-0">
                                                <div class="input-group" ng-class="{'has-error':NewCourseLessonForm.drpLessonDuration.$dirty&&NewCourseLessonForm.drpLessonDuration.$invalid}">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-align-justify"></i>
                                                    </span>
                                                    <select class="form-control" name="drpLessonDuration" ng-model="Model.Lesson_Duration" required="required">
                                                        <option value="">Lesson Duration</option>
                                                        <option value="00:15:00">00:15:00</option>
                                                        <option value="00:30:00">00:30:00</option>
                                                        <option value="00:45:00">00:45:00</option>
                                                        <option value="01:00:00">01:00:00 </option>
                                                        <option value="01:15:00">01:15:00 </option>
                                                        <option value="01:30:00">01:30:00 </option>
                                                        <option value="01:45:00">01:45:00 </option>
                                                        <option value="02:00:00">02:00:00 </option>
                                                        <option value="02:15:00">02:15:00 </option>
                                                        <option value="02:30:00">02:30:00 </option>
                                                        <option value="02:45:00">02:45:00 </option>
                                                        <option value="03:00:00">03:00:00 </option>



                                                    </select>
                                                </div>

                                                <div class="help-block" ng-messages="NewCourseLessonForm.drpLessonDuration.$error" ng-if="NewCourseLessonForm.drpLessonDuration.$dirty"
                                                    style="color:maroon" role="alert">

                                                    <ng-message when="required" translate>Lesson Duration is required *</ng-message>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <div class="col-md-6 col-md-offset-0">
                                                <div class="input-group" moment-picker="Model.Lesson_SessionTime" format="LLL">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                    <input class="form-control" placeholder="Select a date" ng-model="Model.Lesson_SessionTime" ng-model-options="{ updateOn: 'blur' }">
                                                </div>
                                                <div class="help-block" ng-messages="NewCourseLessonForm.txtsessionstime.$error" ng-if="NewCourseLessonForm.txtsessionstime.$dirty"
                                                    style="color:maroon" role="alert">

                                                    <ng-message when="required" translate>Lesson Session Time is required *</ng-message>

                                                </div>
                                            </div>
                                            <div class="col-md-6 col-md-offset-0">
                                                <div class="input-group" ng-class="{'has-error':NewCourseLessonForm.drpLessonInstructor.$dirty&&NewCourseLessonForm.drpLessonInstructor.$invalid}">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-align-justify"></i>
                                                    </span>
                                                    <select class="form-control" name="drpLessonInstructor" ng-model="Model.Lesson_Instructor" required="required">
                                                        <option value="">Lesson Instructor</option>
                                                        <option ng-repeat="Instructor in Model.CoursesInstructories" value="{{Instructor.Inst_Id}}">{{Instructor.Inst_Fname}}&nbsp;{{Instructor.Inst_Lname}}</option>

                                                    </select>
                                                </div>
                                                <div class="help-block" ng-messages="NewCourseLessonForm.drpLessonInstructor.$error" ng-if="NewCourseLessonForm.drpLessonInstructor.$dirty"
                                                    style="color:maroon" role="alert">

                                                    <ng-message when="required" translate>Lesson Instructor is required *</ng-message>

                                                </div>
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <div class="col-md-12 col-md-offset-0" ng-class="{'has-error':NewCourseLessonForm.Lesson_Typescript.$dirty&&NewCourseLessonForm.Lesson_Typescript.$invalid}">

                                                <textarea name="Lesson_Typescript" ng-model="Model.Lesson_Typescript" ck-editor></textarea>
                                                <!-- <script>
                                                                CKEDITOR.replace('Lesson_Typescript');
                                                            </script> -->
                                                <div class="help-block" ng-messages="NewCourseLessonForm.Lesson_Typescript.$error" ng-if="NewCourseLessonForm.Lesson_Typescript.$dirty"
                                                    style="color:maroon" role="alert">

                                                    <ng-message when="required" translate>Lesson Typescript is required *</ng-message>

                                                </div>
                            
                                            </div>


                                        </div>

                                </div>

                                <div class="col-md-12 col-md-offset-0" ng-class="{'has-error':NewCourseLessonForm.txtLessonPhoto.$dirty&&NewCourseLessonForm.txtLessonPhoto.$invalid}">
                                    <link rel="stylesheet" href="../shared/css/fileinput.css">
                                    <!-- FONT AWESOME HIDDEN THUMBNAIL CONTENT THEME -->
                                    <!-- load the JS files in the right order -->
                                    <script src="shared/js/fileinput.js"></script>
                                    <script src="/shared/js/theme.js"></script>


                                    <div class="file-loading">
                                        <input id="txtLessonPhoto" type="file" ng-model="Model.Lesson_Photo">

                                       
                                    </div>

                                    <script>
                                        $("#txtLessonPhoto").fileinput({
                                            initialPreview: "/app/shared/images/access-application-business-360438.jpg",
                                            uploadUrl: "https://localhost:44376" + "/api/Dashboard/UploadLessonIamge",
                                            initialPreviewAsData: true,
                                            initialPreviewConfig: [{
                                                caption: "SPARK SCHOOL",
                                                width: "120px"
                                            },

                                            ],
                                            overwriteInitial: true,
                                            maxFileSize: 10000,
                                            initialCaption: "Course Lesson Photo",
                                            showRemove: false,
                                            showUpload: false
                                        });

                                    

                                    </script>



                                    <div class="help-block" ng-messages="NewCourseLessonForm.txtLessonPhoto.$error" ng-if="NewCourseLessonForm.txtLessonPhoto.$dirty"
                                        style="color:maroon" role="alert">

                                        <ng-message when="required" translate>Lesson Photo is required *</ng-message>

                                    </div>



                                </div>


                            </div>





                        </div>
                                        <div class="button">
                                            <p class="btnText">READY?</p>
                                            <div class="btnTwo">
                                                <button type="button" class="btnText2" ng-disabled="NewCourseLessonForm.$invalid" ng-click="Model.Submit()">Save</button>
                                            </div>
                                        </div>


                        </form>


                    </div>

                </div>
                <!--//set-3-->
            </div>
            <!--//forms-inner-->
        </div>
        <!--//forms-->

</section>