
<div class="container"  ng-controller="ProgrameCoursesController as Model">

  

<!-- breadcrumbs -->
<div class="w3l_agileits_breadcrumbs">
  <div class="w3l_agileits_breadcrumbs_inner">
    <ul>
      <li><a href="#!/dashboardprogrames">Programes</a></li>

        <span>«</span>
      </li>
      <li>
        <li>
            <a href="">{{Model.Programe_Name}}</a>
        </li>
        <span>«</span>
    </li>
      <li> 
      Courses

      </li>
     
    
    </ul>
  </div>
</div>
<!-- //breadcrumbs -->
<div class="inner_content_w3_agile_info two_in">
  <h2 class="w3_inner_tittle">Courses</h2>
  <!-- tables -->

  <div class="agile-tables">
    <div class="w3l-table-info agile_info_shadow text-center">

      <div class="row">

        <div class="col-md-3 ">

          <span class="input-group-addon">
            <i class="fa fa-search-plus"></i>
          </span>
          <input ng-model="Model.Crs_Name" class="form-control1 icon select" placeholder="Search by Course Name" type="text">

        </div>
        <div class="col-md-3 ">

          <span class="input-group-addon">
            <i class="fa fa-search-plus"></i>
          </span>

          <select class="form-control select" name="drpCrsDuration" ng-model="Model.Crs_Duration">
            <option value="">Course Status</option>

            <option value="true">Active</option>
            <option value="false">Idle</option>


          </select>
        </div>
        <div class="col-md-3 ">

          <div class="input-group-addon">
            <i class="fa fa-search-plus"></i>
          </div>
          <select class="form-control select" name="drpCrsLevel" ng-model="Model.Crs_Level" required="required">
            <option value="">Course Level</option>
            <option value="Begginer">Begginer</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Advanced">Advanced</option>


          </select>

        </div>
        <div class="col-md-3 ">

          <div class="input-group-addon">
            <i class="fa fa-search-plus"></i>
          </div>
          <select class="form-control select" name="drpCrsCategory" ng-model="Model.CrsCats_Name">
            <option value="">Course Categories</option>
            <option ng-repeat="Category in Model.CoursesCategories" value="{{Category.CrsCats_Name}}">{{Category.CrsCats_Name}}</option>

          </select>

        </div>



      </div>

      <table id="table">
        <thead>
          <tr>
            <th>
              <input type="checkbox" />
            </th>
            <th>Video</th>
            <th>Name</th>
            <th>Level</th>
            <th>Category</th>

            <th>Groups</th>
         
            <th>Students</th>
            <th>Certificate</th>
            <th>Exams</th>

            <th>Activate</th>


            <th>Management</th>
          </tr>
        </thead>
        <tbody>

          <tr ng-repeat="Course in Model.Courses.slice(((Model.currentPage-1)*Model.itemsPerPage), ((Model.currentPage)*Model.itemsPerPage))|filter:Model.Crs_Level|filter:Model.CrsCats_Name|filter:Model.Crs_Name|filter:Model.Crs_Duration|orderBy:'-Crs_DateTime'|limitTo:10"
            ng-style="{'background-color':Select === true ? '#ff4f57' : '','color':Select === true ? '#fff' : ''}">
            <td>
              <input type="checkbox" value="{{Course.Crs_Id}}" ng-model="Select" />
            </td>
            <td>  <video id="my-video" class="video-js" controls preload="auto" width="50" height="50"
              poster="{{Course.Crs_Photo}}" data-setup="{}">
              <source src="{{Course.Crs_Video}}" type='video/mp4'>
              <source src="{{Course.Crs_Video}}" type="video/mpeg">
              <source src="{{Course.Crs_Video}}" type='video/ogg'>
              
               
                <p class="vjs-no-js">
                  To view this video please enable JavaScript, and consider upgrading to a web browser that
                  <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
              </video></td>
            <td>{{Course.Crs_Name|limitTo:20}}</td>
            <td>{{Course.Crs_Level}}</td>
            <td>{{Course.CrsCats_Id}}</td>

          

            <td>
              <a href="#!/dashboardprogramecoursegroups/{{Course.Crs_Id}}">
                <button type="button" class="btn btn-block">
                  <i class="fa fa-users"></i> {{Course.AspNetProgrameCourseGroups.length}}</button>
              </a>
            </td>
           
            <td>
              <a href="#!/dashboardcoursesstudents/{{Course.Crs_Id}}">
                <button type="button" class="btn btn-block">
                  <i class="fa fa-user"></i> 5</button>
              </a>

            </td>
            <td>
              <a href="#!/dashboarprogramecoursegroups/{{Course.Crs_Id}}">
                <button type="button" class="btn btn-block">
                  <i class="fa fa-bookmark"></i> {{Course.AspNetCourseGroups.length}}</button>
              </a>
            </td>
            <td>
              <a href="#!/dashboardcoursegroups/{{Course.Crs_Id}}">
                <button type="button" class="btn btn-block">
                  <i class="fa fa-paste"></i> {{Course.AspNetCourseGroups.length}}</button>
              </a>
            </td>



            <td>
              <button ng-class="Course.Crs_Active==false?'btn btn-warning':'btn btn-success'" ng-click="Model.Activate(Course.Crs_Id)">
                <i class="fa fa-check"></i>
              </button>
            </td>

            <td class="text-center">
              <a href="#!/dashboardnewprogramecourse/{{Model.Programe_Id}}">
                <button type="button" class="btn btn-info">
                  <i class="fa fa-plus-circle"></i>
                </button>
              </a>
              <a href="#!/dashboardeditcourse/{{Course.Crs_Id}}">
                <button type="button" class="btn btn-success">
                  <i class="fa fa-edit"></i>
                </button>
              </a>
              <button type="button" class="btn btn-danger" ng-click="Model.Confirm(Course.Crs_Id)">
                <i class="fa fa-trash"></i>
              </button>

            </td>
          </tr>

          <tr ng-show="(Model.Courses|filter:Model.Crs_Level|filter:Model.CrsCats_Name|filter:Model.Crs_Name|filter:Model.Crs_Duration).length == 0"
            role="alert" style="color: maroon;">
            <td colspan="12" class="text-center">


              <span class="glyphicon glyphicon-remove"></span>


              <div ng-class="{'alert alert-warning text-center':(Model.Courses|filter:Model.Crs_Level|filter:Model.CrsCats_Name|filter:Model.Crs_Name|filter:Model.Crs_Duration).length == 0}">Sorry no results found !
                <a ng-href="#!/dashboardnewprogramecourse/{{Model.Programe_Id}}" class="btn btn-primary">New Course</a>
              </div>

            </td>


          </tr>
        </tbody>

      </table>

      <ul uib-pagination total-items="Model.totalItems" ng-model="Model.currentPage" ng-change="Model.pageChanged()" class="pagination-sm"
        items-per-page="Model.itemsPerPage"></ul>

    </div>


    <!-- //tables -->
  </div>
</div>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#table').basictable();

        $('#table-breakpoint').basictable({
          breakpoint: 768
        });

        $('#table-swap-axis').basictable({
          swapAxis: true
        });

        $('#table-force-off').basictable({
          forceResponsive: false
        });

        $('#table-no-resize').basictable({
          noResize: true
        });

        $('#table-two-axis').basictable();

        $('#table-max-height').basictable({
          tableWrapper: true
        });
    });
  </script>

