  <!-- ------------------------------------------Start Header-------------------------------------------- -->

  <header ng-controller="NavBarController as vm">
        <div class="container">
    
          <div class="row">
    
            <div class="col-md-6 col-sm-6">
              <a href="/">
                <img ng-src="shared/images/appletsoftware.png" class="logo" alt="logo" title="SPARK SCHOOL">
              </a>
            </div>
    
            <div class="col-md-6">
              <!-- ======= -->
              <div class=" row">
                <!-- ========= -->
                <div class=" col-md-6">
                  <div class=" menu-top">
                    <ul ng-hide="vm.Authenticated()">
                      <li>
                        <img ng-src="shared/images/scientist.png">
                        <a ng-href="#!/login"> Log in </a>
                      </li>
    
                      <li> |&nbsp;
                        <img ng-src="shared/images/journalist.png">
                        <a ng-href="#!/register">Register</a>
                      </li>
    
    
                    </ul>
    
                    <ul ng-hide="!vm.Authenticated()">
                      <li>
                        
                        <button ng-click="vm.Dashboard()" class="btn-user"> <img ng-src="shared/images/journalist.png" width="15" height="15"> {{vm.FullName}}</button>
                      </li>
                     
                      <li>
                        &nbsp;
                        <button ng-click="vm.logOff()" class="btn-logoff"><i class="fa fa-sign-out"></i>LogOff</button>
                      </li>
                    </ul>
                    
    
                  </div>
                </div>
                <!-- ======= -->
                <div class=" col-md-6 hidden-xs hidden-sm">
                  <div class="phone-hlt">
    
                    <h5><i class="fa fa-phone"></i>&nbsp; +20-10-61876572</h5> 
                    <h4 style="color: #141414;
                    font-weight: bold;
                    font-size: x-large;"> SPARK SCHOOL</h4>
    
                   
    
    
                  </div>
                </div>
                <!-- ======= -->
              </div>
            </div>
    
          </div>
    
        </div>
      </header>
      <!-- ------------------------------------------End Header-------------------------------------------- -->
    