.search {
    padding-top: 50px;
    padding-bottom: 50px
}

.search .myinput {
    width: 85%;
    position: relative;
    float: left;
    border: 1px solid #2d343e;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: hidden;
}

.search .mybutton {
    width: 15%;
    float: left;
    border: 1px solid #2d343e;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
}
  
.search i {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #2d343e
}


.search input[type="text"] {
    
    height: 40px;
    outline: none;
    padding-left: 35px;
    color: #2d343e;
    margin-bottom: 0;
    width: 100%;
    border: none
}

.search button {
    outline: none;
    height: 40px;
    background: #2d343e;
    color: #FFF;
    border: none;
    width: 100%
}


/* ****************************************************************************************************************************************************************************** */

.jop h3 {
    font-size: 18px;
    font-weight: 500;
    color: #3c3c3c;
}

.jop .First-content , .jop .second-content {
    background-color: #FFF;
    padding: 5px 0 20px 20px;
    border: 1px solid #DDD;

}

.jop .second-content { padding-top: 25px; padding-right: 10px }

.jop .second .media-object { width: 100px;height: 100px}

.jop .second .media { margin-bottom: 50px }

.jop .second .media h4 + p { 
    margin-bottom: 0px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 15px;
    font-weight: 400
}

.jop .second .media p + span , .jop .second .media i + span ,
.jop .second .media br + span {
    color: rgba(0, 0, 0, 0.55);
    font-size: 13px;
}

.jop .second .media span + p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 13px;
    margin-bottom: 3px
}

.jop .second .media i {
    color: #2d343e;
    font-size: 20px;
}

.jop .First-content h4:hover { cursor: pointer }

.jop .First-content h4 { 

    font-size: 16px;
    font-weight: 500;
    padding-top: 7px;
    padding-bottom: 7px;
}

.jop .country , .jop .city , .jop .Career , .jop .area , .jop .Career ,
.jop .jop_Role , .jop .jop_type , .jop .Date_Posted { position: relative }

.jop .minus , .jop .plus {
    position: absolute;
    top: 0;right: 13%;
    cursor: pointer;
    font-size: 20px;
    color: #777;
    font-weight: 600;
    padding-top: 7px
}

.jop .First-content hr { margin-right: 20px }


.jop .First-content input[type="checkbox"] { display: none;}

/* .jop .First-content li { line-height: 24px } */

.jop .First-content label {
    
    /* position: relative;margin-top: 4px;float: left;*/
      float: left;
      height: 14px;
      width: 14px;
      display: inline-block;
      cursor: pointer;
      border-radius: 2px;
      background-color: #3794ce;
      box-shadow: 0 0 10px -2px #007ed7;
}


.jop .First-content label:before {
    
     content: "\2714";
     height: 100%;
     width: 100%;
     float: left;
     background-color: #3794ce;
     color: #FFF;
     cursor: pointer;
     line-height: 16px;
     border-radius: 2px;
     text-align: center;
     font-size: 9px;
     box-shadow: 0 0 10px -2px #007ed7;
     display: none
}

    

.jop .First-content label:active:before,
.jop .First-content input.checkbox:checked ~ label:before {
    
    display: block;
    background-color: #3794ce;
    color: #FFF;
    box-shadow: 0 0 10px -2px #007ed7;
}

.jop .First.col-md-3 { padding-right: 0;padding-left: 0}

           
.jop .First-content h4:hover {
    background-color: #eee;
    color: #379ED7
}

.jop .First-content .myClick {
    
    margin-left: -20px;
    padding-left: 20px;
}

.jop .First-content .myClick:hover { background-color: #EEE;cursor: pointer}

.jop .First-content li { color: #777; }

.jop .First-content li:hover { color: #555 }

.jop .First-content li span { color: #9e9d9d}


.colored {
    color: #3794ce !important;
    font-weight: bold
}

.jop .First-content li.MyShow , .jop .First-content li.MyHide {
    color: #3794ce;
    margin-top: 5px;
    margin-bottom: 2px;
    cursor: pointer
}

.jop .First-content li.MyShow:hover , .jop .First-content li.MyHide:hover { 
    text-decoration: underline;
    cursor: pointer
} 

.jop .First-content input[type="search"] {
    margin-bottom: 0;
    background: #FFF;
    border: 1px solid #e2e2e2;
    padding: 4px 10px;
    width: 90%;
}


.jop .media-heading a:hover { text-decoration: underline }
















