/* *****************************Start Media Query*************************** */

/* Small devices (landscape phones, 576px and up)  */
@media (max-width: 767px) {

    .jop .second { padding-left: 30px;padding-right: 30px }
}




/*  Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) and (max-width: 991px) {

    .jop .First.col-md-3 {
        padding-left: 15px
    }
    
}


/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {

    .jop .col-md-3 { width: 22%; margin-left: 3%; }
    
    .jop .col-md-9 { width: 72%;  }
}



/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .jop .col-md-3 { width: 22%; margin-left: 3%; }
    
    .jop .col-md-9 { width: 72%;  }
}



/* *****************************End Media Query***************************** */


 