<!-- breadcrumbs -->
<div class="w3l_agileits_breadcrumbs">
  <div class="w3l_agileits_breadcrumbs_inner">
    <ul>
      <li>
        <a href="#!/dashboardindex">Home</a>
        <span>«</span>
      </li>

      <li>Categories</li>
    </ul>
  </div>
</div>
<!-- //breadcrumbs -->
<div class="inner_content_w3_agile_info two_in" ng-controller="JobsCategoriesController as Model">
  <h2 class="w3_inner_tittle">Categories</h2>
  <!-- tables -->

  <div class="agile-tables">
    <div class="w3l-table-info agile_info_shadow text-center">

      <div class="row">

        <div class="col-md-6  col-md-offset-0">

          <span class="input-group-addon">
            <i class="fa fa-search-plus"></i>
          </span>
          <input type="text" ng-model="Model.Cats_Name" class="form-control select" placeholder="Search by Name" />

        </div>

        <div class="col-md-6  col-md-offset-0">

          <span class="input-group-addon">
            <i class="fa fa-search-plus"></i>
          </span>
          <select class="form-control select" name="drpDuration" ng-model="Model.Cats_Active">
            <option value="">Course Status</option>

            <option value="true">Active</option>
            <option value="false">Idle</option>


          </select>

        </div>
      </div>
      <table id="table">
        <thead>
          <tr>
            <th>
                <a href="#!/dashboardnewjobscategory">
                  <button type="button" class="btn btn-info">
                    <i class="fa fa-plus-circle"></i>
                  </button>
                </a>
            </th>
            <th>Name</th>
            <th>DateTime</th>
            <th>Publisher</th>
            <th>Activate</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="Category in Model.JobsCategories.slice(((Model.currentPage-1)*Model.itemsPerPage), ((Model.currentPage)*Model.itemsPerPage))|filter:{Cats_Name:Model.Cats_Name,Cats_Active:Model.Cats_Active}|orderBy:'-Cats_DateTime'|limitTo:10"
            ng-style="{'background-color':Select === true ? '#ff4f57' : '','color':Select === true ? '#fff' : ''}">
            <td>
              <input type="checkbox" value="{{Lesson.Lesson_Id}}" ng-model="Select" />
            </td>
            <td>{{Category.Cat_Name}}</td>
            <td>{{Category.Cat_DateTime|date:'medium'}}</td>
            <td>{{Category.Cat_Publisher}}</td>
            <td>
              <button ng-class="Category.Cat_Active==false?'btn btn-warning':'btn btn-success'" ng-click="Model.Activate(Category.Cat_Id)">
                <i class="fa fa-check"></i>
              </button>
            </td>
            <td class="text-center">
            
              <a ng-href="#!/dashboardeditjobscategory/{{Category.Cat_Id}}">
                <button type="button" class="btn btn-success">
                  <i class="fa fa-edit"></i>
                </button>
              </a>
              <button type="button" class="btn btn-danger btnconfirmmodel" ng-click="Model.Confirm(Category.Cat_Id)">
                <i class="fa fa-trash"></i>
              </button>

            </td>
          </tr>
          <tr ng-show="(Model.JobsCategories|filter:Model.Cat_Name).length == 0" role="alert" style="color: maroon;">
            <td colspan="6">


              <span class="glyphicon glyphicon-remove"></span>


              <div ng-class="{'alert alert-warning text-center':(Model.JobsCategories|filter:Model.Cat_Name).length == 0}">Sorry no results found !
                <a ng-href="#!/dashboardnewjobscategory" class="btn btn-primary">New Category</a>
              </div>

            </td>


          </tr>


        </tbody>
      </table>
      <ul uib-pagination total-items="Model.totalItems" ng-model="Model.currentPage" ng-change="Model.pageChanged()" class="pagination-sm"
        items-per-page="Model.itemsPerPage"></ul>


    </div>


    <!-- //tables -->
  </div>


  <script type="text/javascript">
    $(document).ready(function () {
      $('#table').basictable();

      //   $('#table-breakpoint').basictable({
      //     breakpoint: 768
      //   });

      //   $('#table-swap-axis').basictable({
      //     swapAxis: true
      //   });

      //   $('#table-force-off').basictable({
      //     forceResponsive: false
      //   });

      //   $('#table-no-resize').basictable({
      //     noResize: true
      //   });

      //   $('#table-two-axis').basictable();

      //   $('#table-max-height').basictable({
      //     tableWrapper: true
      //   });


    });
  </script>