<!-- breadcrumbs -->
<div class="w3l_agileits_breadcrumbs">
        <div class="w3l_agileits_breadcrumbs_inner">
            <ul>
                <li>
                    <a href="#!/dashboardprogrames">Programs</a>
                    <span>«</span>
                </li>
                <li>
                   New Program
                </li>
            </ul>
        </div>
    </div>
    <!-- //breadcrumbs -->
    
    <div class="inner_content_w3_agile_info two_in">
        <h2 class="w3_inner_tittle">New Program</h2>
    
        <!--/forms-->
        <div class="forms-main_agileits" ng-controller="NewProgrameController as Model">
            <!--/forms-inner-->
            <div class="forms-inner">
                <!--/set-3-->
    
                <div class="wthree_general">
    
    
                    <div class="grid-1 graph-form agile_info_shadow">
    
                        <form class="form-horizontal" novalidate="novalidate" autocomplete="true" name="NewProgramForm">
                            <div class="form-group">
    
                                <div class="col-md-6 col-md-6 col-md-offset-0">
                                    <div class="input-group" ng-class="{'has-error':NewProgramForm.txtProgrameName.$dirty&&NewProgramForm.txtProgrameName.$invalid}">
                                        <span class="input-group-addon">
                                            <i class="fa fa-edit"></i>
                                        </span>
                                        <input type="text" name="txtProgrameName" ng-model="Model.Programe_Name" ng-maxlength="100" required="required" ng-class="{'has-error':NewProgramForm.txtProgrameName.$dirty&&NewProgramForm.txtProgrameName.$invalid}"
                                            class="form-control1 icon" placeholder="Program Name">
                                    </div>
                                    <div class="help-block" ng-messages="NewProgramForm.txtProgrameName.$error" ng-if="NewProgramForm.txtProgrameName.$dirty" style="color:maroon"
                                        role="alert">
    
                                        <ng-message when="required" translate>Program Name is required *</ng-message>
    
                                        <div ng-message="maxlength">Program Name max size 100 charchters *</div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-md-offset-0">
                                        <div class="input-group" moment-picker="Model.Programe_StartDateTime" format="LLL">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="Select a date" ng-model="Model.Programe_StartDateTime" ng-model-options="{ updateOn: 'blur' }">
                                        </div>
                                        <div class="help-block" ng-messages="NewProgramForm.Programe_SatrtDateTime.$error" ng-if="NewProgramForm.Programe_SatrtDateTime.$dirty"
                                            style="color:maroon" role="alert">

                                            <ng-message when="required" translate>Programe Start DateTime is required *</ng-message>

                                        </div>
                                    </div>
                      
                            </div>
                            <div class="form-group">
    
                               
                                    <div class="col-md-6 col-md-6 col-md-offset-0">
                                            <div class="input-group" ng-class="{'has-error':NewProgramForm.txtprogrameduration.$dirty&&NewProgramForm.txtprogrameduration.$invalid}">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-file-video-o "></i>
                                                </span>
                                                <input type="text" name="txtprogrameduration" ng-model="Model.Programe_Duration" class="form-control1 icon" placeholder="Programe Duration"
                                                    required="required">
                                            </div>
            
                                            <div class="help-block" ng-messages="NewProgramForm.txtprogrameduration.$error" ng-if="NewProgramForm.txtprogrameduration.$dirty" style="color:maroon"
                                                role="alert">
            
                                                <ng-message when="required" translate>Program Duration is required *</ng-message>
            
                                            </div>
                                        </div>


                                <div class="col-md-6 col-md-6 col-md-offset-0">
                                    <div class="input-group" ng-class="{'has-error':NewProgramForm.drpProgrameCategories.$dirty&&NewProgramForm.drpProgrameCategories.$invalid}">
                                        <span class="input-group-addon">
                                            <i class="fa fa-align-justify"></i>
                                        </span>
                                        <select class="form-control" name="drpProgrameCategories" ng-model="Model.Cat_Id" required="required">
                                            <option value="">Program Categories</option>
                                            <option ng-repeat="Category in Model.ProgramesCategories" value="{{Category.Cat_Id}}">{{Category.Cat_Name}}</option>
                                    
                                        </select>
                                    </div>
                                    <div class="help-block" ng-messages="NewProgramForm.drpProgrameCategories.$error" ng-if="NewProgramForm.drpProgrameCategories.$dirty" style="color:maroon"
                                        role="alert">
    
                                        <ng-message when="required" translate>Program Category is required *</ng-message>
    
                                    </div>
                                </div>



                            </div>
    
                            <div class="form-group">
    
                                <div class="col-md-6 col-md-6 col-md-offset-0">
                                    <div class="input-group" ng-class="{'has-error':NewProgramForm.txtNumCourses.$dirty&&NewProgramForm.txtNumCourses.$invalid}">
                                        <span class="input-group-addon">
                                            <i class="fa fa-file-video-o "></i>
                                        </span>
                                        <input type="number" name="txtNumCourses" ng-model="Model.Programe_NumCourses" class="form-control1 icon" placeholder="Number of Courses"
                                            required="required">
                                    </div>
    
                                    <div class="help-block" ng-messages="NewProgramForm.txtNumCourses.$error" ng-if="NewProgramForm.txtNumCourses.$dirty" style="color:maroon"
                                        role="alert">
    
                                        <ng-message when="required" translate>Program Courses is required *</ng-message>
    
                                    </div>
                                </div>
                                <div class="col-md-6 col-md-6 col-md-offset-0">
                                    <div class="input-group" ng-class="{'has-error':NewProgramForm.txtProgramPrice.$dirty&&NewProgramForm.txtProgramPrice.$invalid}">
                                        <span class="input-group-addon">
                                            <i class="fa fa-money"></i>
                                        </span>
                                        <input type="number" name="txtProgramPrice" ng-model="Model.Programe_Price" class="form-control1 icon" placeholder="Program Price"
                                            required="required">
                                    </div>
                                    <div class="help-block" ng-messages="NewProgramForm.txtProgramPrice.$error" ng-if="NewProgramForm.txtProgramPrice.$dirty" style="color:maroon"
                                        role="alert">
    
                                        <ng-message when="required" translate>Program Price is required *</ng-message>
    
                                    </div>
                                </div>
                            </div>
    
    
    
    
                            <div class="form-group">
                                <div class="col-md-12 col-md-12 col-md-offset-0" ng-class="{'has-error':NewProgramForm.Programe_Description.$dirty&&NewProgramForm.Programe_Description.$invalid}">
    
                                    <textarea name="Programe_Description" ng-model="Model.Programe_Description" ck-editor></textarea>
                                    <!-- <script>
                                        CKEDITOR.replace('Programe_Description');
                                    </script> -->
                                    <div class="help-block" ng-messages="NewProgramForm.Programe_Description.$error" ng-if="NewProgramForm.Programe_Description.$dirty" style="color:maroon"
                                        role="alert">
    
                                        <ng-message when="required" translate>Program Description is required *</ng-message>
    
                                    </div>
    
                                </div>
    
                            </div>
    <div class="form-group">


        <div class="col-md-12 col-md-12 col-md-offset-0" ng-class="{'has-error':NewProgramForm.txtProgramePhoto.$dirty&&NewProgramForm.txtProgramePhoto.$invalid}">
            <link rel="stylesheet" href="../shared/css/fileinput.css">
            <!-- FONT AWESOME HIDDEN THUMBNAIL CONTENT THEME -->
            <!-- load the JS files in the right order -->
            <script src="shared/js/fileinput.js"></script>
            <script src="/shared/js/theme.js"></script>


            <div class="file-loading">
                <input id="txtProgramePhoto" type="file" ng-model="Model.Programe_Photo" name="Model.Programe_Photo" >
            </div>
          
            <script>
                $("#txtProgramePhoto").fileinput({
                    initialPreview: "/app/shared/images/access-application-business-360438.jpg",
                    uploadUrl: "http://localhost:50816" + "/api/Programes/UploadProgrameIamge",
                    initialPreviewAsData: true,
                    initialPreviewConfig: [{
                            caption: "SPARK SCHOOL",
                            width: "120px"
                        },

                    ],
                    overwriteInitial: true,
                    maxFileSize: 10000,
                    initialCaption: "SPARK SCHOOL Program",
                    showRemove: false,
                    showUpload: false

                });
            </script>

<div class="help-block" ng-messages="NewProgramForm.txtProgramePhoto.$error" ng-if="NewProgramForm.txtProgramePhoto.$dirty" style="color:maroon"
role="alert">

<ng-message when="required" translate>Program Description is required *</ng-message>

</div>

        </div>

    </div>
                            <div class="button">
                                <p class="btnText">READY?</p>
                                <div class="btnTwo">
                                    <button type="button" class="btnText2" ng-disabled="NewProgramForm.$invalid" ng-click="Model.Submit()">Save</button>
                                </div>
                            </div>
    
                        </form>
    
                    </div>
                </div>
                <!--//set-3-->
            </div>
            <!--//forms-inner-->
        </div>
        <!--//forms-->