<section class="teacher-index-layout">
    <div class="row">

        <div class="col-md-4">
            <nav class="customeBox">

                <ul>
                    <li>
                        <i class="fa fa-arrow-circle-down nav_icon "></i>
                        <span class="nav-label">Main Menu</span>
                    </li>
                    <li>
                        <a href="#!/teacherindex" class=" hvr-bounce-to-right">
                            <i class="fa fa-user nav_icon "></i>
                            <span class="nav-label">Jhone Mart</span>
                        </a>
                    </li>


                    <li class="activetab">
                        <a href="#!/teachercourses" class=" hvr-bounce-to-right">
                            <i class="fa fa-home nav_icon"></i>
                            <span class="nav-label">Instructor Courses</span>
                        </a>
                    </li>

                    <li>
                        <a href="#!/teachernewcourse" class=" hvr-bounce-to-right">
                            <i class="fa fa-plus-circle nav_icon"></i>
                            <span class="nav-label">New Course</span>
                        </a>
                    </li>

                    <li>
                        <a href="#!/teacheranalytics" class=" hvr-bounce-to-right">
                            <i class="fa fa-dashboard nav_icon"></i>
                            <span class="nav-label">Analytics</span>
                        </a>
                    </li>
                    <li>
                        <a href="#!/teachersettings" class=" hvr-bounce-to-right">
                            <i class="fa fa-gear nav_icon"></i>
                            <span class="nav-label">Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class=" hvr-bounce-to-right">
                            <i class="fa fa-sign-out nav_icon"></i>
                            <span class="nav-label">Log Off</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
        <div class="col-md-8">
            <section class="customContainer col-md-12 text-center" ng-controller="TeacherCoursesController as Model">

                <div class="panel panel-warning" ng-repeat="Course in Model.instructorCourses.slice(((Model.currentPage-1)*Model.itemsPerPage), ((Model.currentPage)*Model.itemsPerPage))|orderBy:'-Crs_DateTime'">
                    <div class="panel-heading">
                        <div class="panel-title"><div class="pull-left">{{Course.Crs_Name}}</div><div class="pull-right">{{Course.Crs_Numlessons}} lessons</div><div class="clearfix"></div></div>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-3">
                            <img src="../shared/images/teacher-3.jpg" class="img img-thumbnail">
                        </div>
                        <div class="col-md-9"> 
                            <p ng-bind-html="Course.Crs_Description"></p>
                                
                
                        </div>

                    </div>

                    <div class="panel-footer text-right"><button class="btn btn-dark">Details&nbsp;<i class="fa fa-arrow-circle-o-right"></i></button>
                        &nbsp;<button class="btn btn-dark">Lessons&nbsp;<i class="fa fa-hand-pointer-o"></i></button>
                        &nbsp;<button class="btn btn-dark">Edit&nbsp;<i class="fa fa-edit"></i></button>
                        &nbsp;<button class="btn btn-dark">Remove&nbsp;<i class="fa fa-trash"></i></button>
                    </div>
                </div>



      
                <ul uib-pagination  total-items="Model.totalItems" ng-model="Model.currentPage" ng-change="Model.pageChanged()" class="pagination-sm" items-per-page="Model.itemsPerPage"></ul>
                



            </section>


        </div>

    </div>

</section>

